.container{
    max-width: 2000px;
    margin: 0 auto;
    background: black;
    font-size: 24px;
    padding: 25px;
}

.parallax{
    background: url(images/Yasuo.jpg) no-repeat center;  /* ok maybe put an array of image locations here instead? it will be much nicer but for now the prototype will suffice*/
    background-size: cover;
    background-attachment: fixed;
    height: 717px;
}

.text{
    color: white;
}